{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>AVIC</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand">AVIC 选课系统</a> 
                </div> 
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                        <li><p class="navbar-text navbar-right">{{ user }}&emsp;</p></li>
                        <li><a href="{% url 'avic:lagout' %}"> 退出 </a></li>
                    {% else %}
                        <li><a href="{% url 'avic:login' %}"> 登录 </a></li>
                        <li><a href="{% url 'avic:register' %}"> 注册 </a></li> 
                    {% endif %}
                </ul>
            </div> 
        </nav>
        <div class="container">
            <table class="table table-bordered">
                <caption>已选课程</caption>
                <thead>
                    <tr>
                        <th>课程名</th>
                        <th>授课教师</th>
                        <th>学分</th>
                        <th>学期</th>
                        <th>成绩</th>
                    </tr>
                </thead>
                {% for i in usercourses %}
                    <tbody>
                        <tr>
                        {% for j in i %}
                            {% if j %}
                                <td>{{ j }}</td>
                            {% else %}
                                <td>未出</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>

            {% if user %}
            <div class="form-group text-center">
                <a href="{% url 'avic:choose' %}">现在就去选课</button>
            </div>
            {% endif %}
        </div>
    </body>
</html>

