<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>AVIC</title>
        <style>
        </style>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand">AVIC 选课系统</a> 
                </div>
            </div> 
        </nav>
        <div class="container">
            <div class="row">
                <form class="form-horizontal" role="form" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" name="username"
                                placeholder="student id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" name="password"
                                placeholder="password">
                        </div>
                    </div>
                    {% if messages %}
                    <div class="form-group text-center">
                        <span class="help-block">{{ messages }}</span>
                    </div>
                    {% endif %}
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">登录</button>
                    </div>
                    <div class="form-group text-center">
                        没有帐号？
                        <a href="{% url 'avic:register' %}"> 注册 </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
